<header>
    <div class="header-block">
        <a href="{{ path('app_home') }}">Accueil</a>
    </div>
    <div class="header-block list-posts-link">
        <a href="{{ path('app_posts') }}">Liste des Posts</a>
    </div>
    <div class="header-block">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </div>
</header>
